* {
    box-sizing: border-box;
  
  }
  
  /* Style the body */
body {
  font-family: Arial;
  border: 1px solid black;
  padding: 15px;
  font-family: 'Times New Roman', Times, serif;
}
  /* Header column */
.header {
  padding-left: 80px;
  padding-right: 50px;
  padding-bottom: 30px;
  text-align: center;
  background: pink;
  color:black;
  border: 1px solid black;
  text-align: left;

    
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


  
  /* Main column */
.main {
  flex: 80%;
  background-color: white;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 10px;
  background-clip: content-box; /* <---- */
  box-shadow: inset 0 0 0 30px yellow;
  align-items: center;
}

  /* Aside column */
.aside {
  flex: 20%;
  background-color: #ECECFB;
  padding: 20px;
  text-align: center;
  border: 1px solid black;    
}

.heading{
  font-size: 60px;
  margin-left: 100px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.paragraph{
  text-align: left;
  font-size: 30px;
  margin-left: 100px;
}

.about{
  font-size: 20px;
}

.image1{
  width: 1150px;
  height: 400px;
  object-fit: cover;
}